.bottom-message {
    width:200px;
    height:50px;
    background-color: aquamarine;
    border: 1px solid black;
    position: fixed;
    bottom: 0px;
    align-items: center;
    animation: dissappearAnimation 3s forwards;
}
@keyframes dissappearAnimation {
    0%{}
    90%{}
    100%{visibility: hidden;}
}
body{
    margin-left: 50px;
}
